.content-section {
  width: 100%;
  height: 100vh;
  display: flex;

  .left-section {
    width: 20%;
    height: 100%;
  }
  .right-section {
    width: 80%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
  }
}
